@charset "utf-8";
/* CSS Document */


#about footer {
    margin-top: 0px;
}

#about img {
	width: auto;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
	#about footer {
    margin-top: 0px;
}
}



/* #about_con
----------------------------------------- */

#about_con {
	padding-top: 60px;
    padding-bottom: 110px;
}

#about_con .inner {
	max-width: 88%;
}

#about_con .txt_wrap {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
	text-align: center;
    margin-top: 40px;
	margin-bottom: 40px;
}

#about_con .about_illust {
    margin-top: 70px;
}



@media screen and (max-width: 768px) {
    #about_con {
	padding-top: 40px;
    padding-bottom: 60px;
}

    #about_con .txt_wrap {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 30px;
}
	#about_con .about_illust {
    margin-top: 40px;
}
}



/* #concept
----------------------------------------- */

#concept {
	padding-top: 100px;
    padding-bottom: 130px;
	background: url(../images/about/sdgs_bg.jpg) no-repeat center center;
	background-size: cover;
}

#concept .inner {
	padding: 80px 0 80px;
	background: #FFFFFF;
	border-radius: 0 0 16px 0;
}

#concept .txt_wrap {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
	text-align: center;
    margin-top: 35px;
	margin-bottom: 0px;
}

#concept .sdgs_wrap {
    margin-top: 45px;
}

#concept .sdgs_wrap .sdgs_ttl {
    margin-top: 0px;
	text-align: center;
}
#concept .sdgs_wrap .txt_wrap {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
}

#concept .sdgs_wrap .sdgs_icon {
	width: 100%;
    max-width: 680px;
	margin: auto;
	margin-top: 20px;
}


#concept .sdgs_wrap .sdgs_icon > li {
    width: -webkit-calc(95 / 680 * 100%);
    width: calc(95 / 680 * 100%);
	margin-right: -webkit-calc(20 / 680 * 100%);
    margin-right: calc(20 / 680 * 100%);
	margin-bottom: 25px;
}
#concept .sdgs_wrap .sdgs_icon > li:nth-child(6n) {
    margin-right: 0;
}
#concept .sdgs_wrap .sdgs_icon > li img {
    width: 100%;
}



@media screen and (max-width: 768px) {
    #concept {
	padding-top: 60px;
    padding-bottom: 60px;
}
	
	#concept .inner {
	padding: 40px 15px 30px;
	background: #FFFFFF;
	border-radius: 0 0 8px 0;
}
	
    #about_con .txt_wrap {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 30px;
}
	
	#concept .sdgs_wrap .sdgs_icon > li {
    width: -webkit-calc(190 / 680 * 100%);
    width: calc(190 / 680 * 100%);
	margin-right: -webkit-calc(20 / 680 * 100%);
    margin-right: calc(20 / 680 * 100%);
	margin-bottom: 15px;
}
	#concept .sdgs_wrap .sdgs_icon > li:nth-child(3n) {
    margin-right: 0;
}
}