/*!------------------------------------*\
    Base
\*!------------------------------------*/

.drawer-open {
  overflow: hidden !important;
}

.drawer-nav {
  position: fixed;
  z-index: 1001;
  top: 0;
  overflow: hidden;
  width: 100vw;
	text-align: center;
  height: 100%;
    padding: 10vh 0;
  color: #333333;
  background-color: #FFFFFF;
}

.drawer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.drawer-menu li {
	padding: 1rem;
}


/*! overlay */

.drawer-overlay {
  position: fixed;
  z-index: 103;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}

.drawer-open .drawer-overlay {
  display: block;
}

/*!------------------------------------*\
    Top
\*!------------------------------------*/

.drawer--top .drawer-nav {
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  -webkit-transition: top .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: top .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.drawer--top.drawer-open .drawer-nav {
  top: 0;
}

.drawer--top .drawer-hamburger,
.drawer--top.drawer-open .drawer-hamburger {
  right: 0px;
}
.drawer--top.drawer-open .drawer-hamburger {
  padding-top: 30px;
  padding-bottom: 10px;
  display: block;
}

/*!------------------------------------*\
    Left
\*!------------------------------------*/

.drawer--left .drawer-nav {
  left: -100vw;
  -webkit-transition: left .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: left .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.drawer--left.drawer-open .drawer-nav,
.drawer--left .drawer-hamburger,
.drawer--left.drawer-open .drawer-navbar .drawer-hamburger {
  left: 0;
}

.drawer--left.drawer-open .drawer-hamburger {
  left: 100vw;
}

/*!------------------------------------*\
    Right
\*!------------------------------------*/

.drawer--right .drawer-nav {
  width: 100%;
  right: -100%;
  -webkit-transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.drawer--right.drawer-open .drawer-nav,
.drawer--right .drawer-hamburger,
.drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
  right: 0;
}

.drawer--right.drawer-open .drawer-hamburger {
  padding-top: 30px;
  padding-bottom: 10px;
}


/*!------------------------------------*\
    Hamburger
\*!------------------------------------*/

.drawer-hamburger {
  /*position: fixed;
	top: 0;
	padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 30px;
	padding-left: .75rem;
	z-index: 104;*/
	position: fixed;
	z-index: 1002;
	top: calc(70px / 2);
	right: 0;
-webkit-transform: translate(0,-50%);
-moz-transform: translate(0,-50%);
-ms-transform: translate(0,-50%);
-o-transform: translate(0,-50%);
transform: translate(0,-50%);
  display: block;
  box-sizing: content-box;
  width: 37px;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 6px;
  margin-right: 25px;
  -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  /*-webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);*/
  border: 0;
  outline: 0;
  background-color: transparent;
}

header.fixed_navi .drawer-hamburger {
  top: calc(80px / 2);
}

.drawer-hamburger:hover {
  cursor: pointer;
  background-color: transparent;
}

.drawer-hamburger-icon {
  position: relative;
  display: block;
  margin-top: -10px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  width: 100%;
	display: block;
  height: 1px;
  -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  background-color: #333333;
}

.is-white .drawer-hamburger-icon,
.is-white .drawer-hamburger-icon:before,
.is-white .drawer-hamburger-icon:after {
  background-color: #333333;
}

.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  position: absolute;
  top: -8px;
  left: 0;
  content: ' ';
}

.drawer-hamburger-icon:after {
  top: 8px;
}

.drawer-open .drawer-hamburger-icon {
  background-color: transparent;
}

.drawer-open .drawer-hamburger-icon:before,
.drawer-open .drawer-hamburger-icon:after {
  top: 0;
}

.drawer-open .drawer-hamburger-icon:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
	background-color: #333333;
}

.drawer-open .drawer-hamburger-icon:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
	background-color: #333333;
}

/*!------------------------------------*\
    accessibility
\*!------------------------------------*/

/*!
 * Only display content to screen readers
 * See: http://a11yproject.com/posts/how-to-hide-content
 */

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/*!
 * Use in conjunction with .sr-only to only display content when it's focused.
 * Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 * Credit: HTML5 Boilerplate
 */

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

/*!------------------------------------*\
    Sidebar
\*!------------------------------------*/

.drawer--sidebar {
  background-color: #fff;
}

.drawer--sidebar .drawer-contents {
  background-color: #fff;
}

@media (min-width: 64em) {
  .drawer--sidebar .drawer-hamburger {
    display: none;
    visibility: hidden;
  }

  .drawer--sidebar .drawer-nav {
    display: block;
    -webkit-transform: none;
            transform: none;
    position: fixed;
    width: 12.5rem;
    height: 100%;
  }

  /*! Left */
  .drawer--sidebar.drawer--left .drawer-nav {
    left: 0;
    border-right: 1px solid #ddd;
  }

  .drawer--sidebar.drawer--left .drawer-contents {
    margin-left: 12.5rem;
  }

  /*! Right */
  .drawer--sidebar.drawer--right .drawer-nav {
    right: 0;
    border-left: 1px solid #ddd;
  }

  .drawer--sidebar.drawer--right .drawer-contents {
    margin-right: 12.5rem;
  }

  /*! container */
  .drawer--sidebar .drawer-container {
    max-width: 48rem;
  }
}

@media (min-width: 75em) {
  .drawer--sidebar .drawer-nav {
    width: 100vw;
  }

  .drawer--sidebar.drawer--left .drawer-contents {
    margin-left: 100vw;
  }

  .drawer--sidebar.drawer--right .drawer-contents {
    margin-right: 100vw;
  }

  /*! container */
  .drawer--sidebar .drawer-container {
    max-width: 60rem;
  }
}

/*!------------------------------------*\
    Navbar
\*!------------------------------------*/

.drawer--navbarTopGutter {
  padding-top: 3.75rem;
}

.drawer-navbar .drawer-navbar-header {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.drawer-navbar {
  z-index: 102;
  top: 0;
  width: 100%;
}

/*! .drawer-navbar modifier */

.drawer-navbar--fixed {
  position: fixed;
}

.drawer-navbar-header {
  position: relative;
  z-index: 102;
  box-sizing: border-box;
  width: 100%;
  height: 3.75rem;
  padding: 0 .75rem;
  text-align: center;
}

.drawer-navbar .drawer-brand {
  line-height: 3.75rem;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
}

.drawer-navbar .drawer-brand:hover {
  background-color: transparent;
}

.drawer-navbar .drawer-nav {
  padding-top: 3.75rem;
}

.drawer-navbar .drawer-menu {
  padding-bottom: 7.5rem;
}

@media (min-width: 64em) {
  .drawer-navbar {
    height: 3.75rem;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
  }

  .drawer-navbar .drawer-navbar-header {
    position: relative;
    display: block;
    float: left;
    width: auto;
    padding: 0;
    border: 0;
  }

  .drawer-navbar .drawer-menu--right {
    float: right;
  }

  .drawer-navbar .drawer-menu li {
    float: left;
  }

  .drawer-navbar .drawer-menu-item {
    line-height: 3.75rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .drawer-navbar .drawer-hamburger {
    display: none;
  }

  .drawer-navbar .drawer-nav {
    position: relative;
    left: 0;
    overflow: visible;
    width: auto;
    height: 3.75rem;
    padding-top: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .drawer-navbar .drawer-menu {
    padding: 0;
  }

  /*! dropdown */
  .drawer-navbar .drawer-dropdown-menu {
    position: absolute;
    width: 100vw;
    border: 1px solid #ddd;
  }

  .drawer-navbar .drawer-dropdown-menu-item {
    padding-left: .75rem;
  }
}

/*!------------------------------------*\
    Dropdown
\*!------------------------------------*/

.drawer-dropdown-menu {
  display: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.drawer-dropdown-menu > li {
  width: 100%;
  list-style: none;
}

.drawer-dropdown-menu-item {
  line-height: 3.75rem;
  display: block;
  padding: 0;
  padding-right: .75rem;
  padding-left: 1.5rem;
  text-decoration: none;
  color: #222;
}

.drawer-dropdown-menu-item:hover {
  text-decoration: underline;
  color: #555;
  background-color: transparent;
}

/*! open */

.drawer-dropdown.open > .drawer-dropdown-menu {
  display: block;
}

/*! drawer-caret */

.drawer-dropdown .drawer-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .2s ease;
  transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/*! open */

.drawer-dropdown.open .drawer-caret {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*!------------------------------------*\
    Container
\*!------------------------------------*/

.drawer-container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 64em) {
  .drawer-container {
    max-width: 60rem;
  }
}

@media (min-width: 75em) {
  .drawer-container {
    max-width: 70rem;
  }
}




/*!------------------------------------*\
    customize
\*!------------------------------------*/

.drawer button.drawer-hamburger{ display: none;}

.drawer-hamburger{ 
	    padding-top: 25px;
    padding-bottom: 0px;
}

.drawer-nav{ 
	/*padding: 20px 30px 20px 20px;*/
    
}

.drawer-nav .drawer-toggle { 
	float: right;
	padding: 20px;
}

.drawer-nav a {
	font-size: 2.1rem;
	letter-spacing: 0.1em;
    line-height: 1.6;
    display: inline-block;
}


.drawer-hamburger-icon {
  position: relative;
  display: block;
  margin-top: -12px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  width: 100%;
	display: block;
  height: 1px;
  -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  background-color: #18b7cd;
}

.is-white .drawer-hamburger-icon,
.is-white .drawer-hamburger-icon:before,
.is-white .drawer-hamburger-icon:after {
  background-color: rgba(255,255,255,1.0);
}

.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  position: absolute;
  top: -12px;
  left: 0;
  content: ' ';
}

.drawer-hamburger-icon:after {
  top: 12px;
}

.drawer-open .drawer-hamburger-icon {
  background-color: transparent;
}

.drawer-open .drawer-hamburger-icon:before,
.drawer-open .drawer-hamburger-icon:after {
  top: 0;
}

.drawer-open .drawer-hamburger-icon:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
	background-color: rgba(128,128,128,0.50);
}

.drawer-open .drawer-hamburger-icon:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
	background-color: rgba(128,128,128,0.50);
}

/*
.drawer-nav .logo { 
	text-align: left;
	margin-top: 0;
	margin-bottom: 10px;
	padding: 20px;
}

.drawer-nav .navigation, .drawer-nav .p_navi {
	width: 90%;
	text-align: center;
	margin: auto;
}*/

.drawer-nav .address {
	text-align: center;
	margin-top: 2rem;
	display: none;
}

.drawer-nav .logo_wrap {
}

.drawer-nav .logo_wrap h1 {
    width: -webkit-calc(240 / 320 * 100%);
    width: calc(240 / 320 * 100%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(128,128,128,0.20);
}

.drawer-nav .logo_wrap h1 img {
    width: 100%;
    height: auto;
}

.drawer-nav .navigation {
	display: inline-block;
}

.drawer-nav .navigation > li {
	margin-bottom: 3vh;
    text-align: center;
}


.drawer-nav .navigation > li a::after {
	content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 130%;
    height: 5px;
    background: #fff000;
    -webkit-transition: all .6s;
    transition: all .6s;
    opacity: 0;
}

.drawer-nav .navigation > li.current a::after {
    opacity: 1;
}

.drawer-nav .navigation li:last-child {
	margin-bottom: 0em;
}

.drawer-nav .p_navi {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
}
.drawer-nav .p_navi > li {
	margin-left: 2rem;
}
.drawer-nav .p_navi li:first-child {
	margin-left: 0;
}
.drawer-nav .p_navi li img {
	width: auto !important;
	height: auto;
}

.drawer-nav .sns_navi{ 
    width: -webkit-calc(240 / 320 * 100%);
    width: calc(240 / 320 * 100%);
    margin: auto;
    align-items: center;
	justify-content: center;
	margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(128,128,128,0.20);
}

.drawer-nav .sns_navi li {
	margin-left: 20px;
}

.drawer-nav .sns_navi li a{
	display: block;
}

.drawer-nav .sns_navi li:first-child{
	margin-left: 0px;
}

.drawer-menu { 
	text-align: right;
	font-size: 21px;
	margin-bottom: 30px;
}

.drawer-menu li { 
	padding: 0 0 5px 0;
}

.drawer-menu li.sub { 
	font-size: 16px;
	padding: 0 0 0 0;
}


.drawer-nav .copyright {
	width: -webkit-calc(240 / 320 * 100%);
    width: calc(240 / 320 * 100%);
    margin: auto;
	font-size: 1.0rem;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 10px;
    color: #333333;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(128,128,128,0.20);
}


@media screen and (max-width: 768px) {
	.drawer--right .drawer-nav {
  width: 268px;
  right: -268px;
  -webkit-transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
	.drawer-nav .logo_wrap {
        width: 100%;
		margin: auto;
}
    .drawer-nav .logo_wrap h1 {
    margin-top: 10px;
}
    .drawer-nav .logo_wrap h1 a {
    width: -webkit-calc(120 / 240 * 100%);
    width: calc(120 / 240 * 100%);
        margin: auto;
}
    
	.drawer-nav .logo_wrap img {
    width: 100%;
	height: auto;
}
	
    header .drawer-hamburger {
  top: calc(25px / 2);
}
    header.fixed_navi .drawer-hamburger {
  top: calc(25px / 2);
}
.drawer button.drawer-hamburger{ 
    display: block;
    margin-top: 16px;
}
	
	.drawer-hamburger {
  width: 35px;
  margin-right: 20px;
}
	
    .drawer-nav .navigation {
	display: inline-block;
    width: 100%;
}
    
	.drawer-nav .navigation > li {
}
    
	.drawer-nav a {
    font-size: 1.2rem;
    letter-spacing: 0em;
	position: relative;
}

    
  .drawer-nav {
  position: fixed;
  z-index: 1001;
  overflow: hidden;
text-align: center;
  height: 100%;
padding: 0;
  color: #808080;
  background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    .drawer-open .drawer-nav {
    width: 100%;
    }
    .drawer-open .drawer-overlay {
    display: none;
}
    .drawer-open .drawer-hamburger-icon:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
	background-color: #18b7cd;
}

.drawer-open .drawer-hamburger-icon:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
	background-color: #18b7cd;
}
.drawer-nav .top_txt_left img {
    opacity: 0.3;
}
.drawer-nav .top_txt_right img {
    opacity: 0.3;
}
}

@media screen and (max-width: 374px) {
.drawer-nav .logo_wrap {
    width: 80%;
		margin: auto;
}
.drawer-nav .navigation > li {
	margin-bottom: 10px;
}
.drawer-nav .sns{ 
	margin-top: 20px;
}
}