@charset "utf-8";
/* CSS Document */

#floor footer {
}

#floor img {
	width: auto;
    max-width: 100%;
    height: auto;
}

#page_ttl .txt_wrap {
	margin-top: 60px;
}

@media screen and (max-width: 768px) {
#page_ttl .txt_wrap {
	margin-top: 30px;
}
}




/* #floor_img
----------------------------------------- */

#floor_img {
    padding-top: 40px;
}

#floor_img .img_wrap {
	width: 100%;
}

@media screen and (max-width: 768px) {
    #floor_img {
    padding-top: 40px;
}
}






/* #floor_name
----------------------------------------- */

#floor_name {
    padding-top: 80px;
}

#floor_name .name_list_wrap {
	width: 100%;
    background: #FFFFFF;
    border-radius: 0 0 30px 0;
    padding: 60px;
}

#floor_name .name_list_wrap h3 {
	font-size: 1.8rem;
    letter-spacing: 0.07em;
    line-height: 1;
}

#floor_name .name_list_wrap h3 {
	font-size: 1.8rem;
    letter-spacing: 0.07em;
    line-height: 1;
    padding: 8px 15px;
    margin-bottom: 20px;
}

#floor_name .name_list_wrap h3.orange {
	background: url(../images/floor/orange_bg.svg) no-repeat center center;
    background-size: cover;
}
#floor_name .name_list_wrap h3.blue {
	background: url(../images/floor/blue_bg.svg) no-repeat center center;
    background-size: cover;
}
#floor_name .name_list_wrap h3.yello {
	background: url(../images/floor/yello_bg.svg) no-repeat center center;
    background-size: cover;
}
#floor_name .name_list_wrap h3.pink {
	background: url(../images/floor/pink_bg.svg) no-repeat center center;
    background-size: cover;
}

#floor_name .name_list_wrap .name_list {
	margin-bottom: 50px;
}
#floor_name .name_list_wrap .name_list.pink {
	margin-bottom: 0px;
}

#floor_name .name_list_wrap .name_list > li {
	width: 33%;
    flex-wrap: nowrap;
}

#floor_name .name_list_wrap .name {
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    white-space: nowrap;
    letter-spacing: 0;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 25px;
}

#floor_name .name_list_wrap .name.small {
	font-size: 1.4rem;
}
#floor_name .name_list_wrap .name.small2 {
	font-size: 1.2rem;
}

#floor_name .name_list_wrap .name span {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    letter-spacing: 0;
    font-size: 1.2rem;
    line-height: 1;
    width: 25px;
    height: 18px;
    color: #ffffff;
    margin-right: 10px;
}

#floor_name .name_list_wrap .name span {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    letter-spacing: 0;
    font-size: 1.2rem;
    line-height: 1;
    width: 25px;
    height: 18px;
    color: #ffffff;
    margin-right: 10px;
    border-radius: 3px;
}
#floor_name .name_list_wrap .name_list.orange .name span {
	background: #f29600;
}
#floor_name .name_list_wrap .name_list.blue .name span {
	background: #54c2f0;
}
#floor_name .name_list_wrap .name_list.yello .name span {
	background: #fff000;
}
#floor_name .name_list_wrap .name_list.pink .name span {
	background: #e85f9d;
}


@media screen and (max-width: 768px) {
    #floor_name {
    padding-top: 20px;
}
    #floor_name .name_list_wrap {
    width: 100%;
    background: #FFFFFF;
    border-radius: 0 0 20px 0;
    padding: 20px;
}
    #floor_name .name_list_wrap .name_list > li {
	width: 100%;
}
    
    #floor_name .name_list_wrap .name {
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    white-space: nowrap;
    letter-spacing: 0;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 25px;
}

#floor_name .name_list_wrap .name.small {
	font-size: 1.2rem;
}
#floor_name .name_list_wrap .name.small2 {
	font-size: 1.0rem;
}

#floor_name .name_list_wrap .name span {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    letter-spacing: 0;
    font-size: 1.2rem;
    line-height: 1;
    width: 25px;
    height: 18px;
    color: #ffffff;
    margin-right: 10px;
}
}