html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
#header {
  background-image: url("img/main_bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: 100%;
  height: 39vw;
  max-height: 360px;
}
#btn_greeting {
  position: absolute;
  right: .5em;
  top: 15vw;
  width: 10vw;
}
.fuwafuwa {
  animation-name: fuwafuwa;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}
@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0vw);
  }
  100% {
    transform: translate(0, 2vw)
  }
}
#main_logo {
  margin-top: 5vw;
  max-width: 80vw;
}
#main_menu {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  x-font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: calc(min(3.5vw, 1.3em));
}
#main_menu > li {
  display: inline-block;
  margin: .5em;
  color: white;
}
#main_menu img {
  position: relative;
  top: .1em;
  height: .9em;
}
#header a {
  color: white !important;
}
#divnews {
  text-align: left;
  display: inline-block;
}
#divnewsimg div {
  display: inline-block;
  width: 17vw;
  height: 12vw;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  margin: 5px;
}
/* footer */
#footer {
  background-color: #18B7CD;
  font-family: 'Open Sans Condensed', sans-serif;
  x-margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: white;
  x-border-top: 1px solid #333;
}
#footer_logo {
  margin: 1em;
}
#footer_fb {
  display: block;
  margin: 1em;
}
#footer a {
  color: white !important;
}
#footer_sporsor {
  font-family: sans-serif;
}
#btn_pagetop {
  position: absolute;
  right: 1em;
  width: 6vw;
}

/* main */
#main > div {
  margin: 4em 4em;
  font-size: 95%;
}
#main > div > h3::before, #main > div > h3::after {
  border-top: 1px solid #444;
  display: inline-block;
  position: relative;
  top: -.3em;
  margin-right: 1em;
  margin-left: 1em;
  content: "";
  width: 3em;
}
#tags > a {
  background-color: #f4f4f4;
  padding: .1em .3em;
  margin: .5em;
  line-height: 1.8em;
}
a {
  text-decoration: none;
  color: black;
}
#div_search {
  line-height: 2em;
}
#div_search_box {
  vertical-align: top;
}
#input_search {
  border: 1px solid black;
  font-size: 120%;
}
#btn_search {
  width: 2.5em;
  height: 2em;
  background-image: url("img/serchiicon.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: none;
  position: relative;
  top: .4em;
  margin-left: 1em;
}
#divmap {
  height: 25vw;
}
#amap {
  font-size: 80%;
}
#info {
  display: inline-block;
  text-align: left;
}
/* detail */
.detail_header {
  height: 30vw !important;
  max-height: 300px !important;
}
#detail > div {
  margin: 3em;
}
a {
  text-decoration: none;
  color: black;
}
#detail_img {
  width: 80vw;
}
#detail_text {
  text-align: left;
  white-space: pre-wrap;
}
#detail_img img {
  width: 24vw;
  padding: 0 .5vw;
}
#company {
  text-align: left;
  width: auto;
  padding: 2em;
  background-color: #f1f1f1;
}
#info {
}
#info_access::before {
  content: "ACCESS";
  width: 7em;
  display: inline-block;
}
#info_url::before {
  content: "URL";
  width: 7em;
  display: inline-block;
}
#info_sdgs::before {
  content: "SDGs";
  width: 7em;
  display: inline-block;
}
#info_type::before {
  content: "TYPE";
  width: 7em;
  display: inline-block;
}
#info_rest::before {
  content: "REST";
  width: 7em;
  display: inline-block;
}
